<div class="row">
    <div class="col-md-9">
        <div class="row g-2">
            <h1 id="museum-name">{{museum?.name}}</h1>
            <div id="thumbnail-wrapper">
                <img id="museum-thumbnail" class="img-fluid" [src]="museum?.thumbnail">
            </div>
        
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">Adresa: {{museum?.address}}</li>
                <li class="list-group-item list-group-item-info">Država: {{museum?.country}}</li>
                <li class="list-group-item list-group-item-info">Grad: {{museum?.city}}</li>
                <li class="list-group-item list-group-item-info">Broj telefona: {{museum?.phone}}</li>
                <li class="list-group-item list-group-item-info">Tip muzeja: {{museum?.type?.type}}</li>
            </ul>
        
            <h2>Obilasci</h2>
        
            <app-tour-card *ngFor="let tour of tours"
            [tour]="tour"
            (tourSelected)="tourSelected($event)">
        
            </app-tour-card>
        </div>
    </div>

    <div class="col-md-3">
        <div class="row">
            <app-weather-card *ngFor="let weather of weathers"
            [weather]="weather">
    
            </app-weather-card>
        </div>
    </div>
</div>
