html, body{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
}

:root{
    --sidenav-background-color: #333333;
    --sidenav-link-color: white;
}

.active-route{
    background-color: var(--sidenav-link-color) !important;
    color: var(--sidenav-background-color) !important;
}