<div class="card mb-3">
    <div class="row g-0">
        <div class="col-auto thumbnail-wrapper">
            <img class="museum-thumbnail img-fluid rounded-start" src="{{museum?.thumbnail}}">
        </div>
   
        <div class="col-auto">
            <div class="card-body">
                <h5 class="card-title">Muzej</h5>
                <div class="museum-list-card-info">
                    <p class="card-text">Naziv: {{museum?.name}}</p>
                    <p class="card-text">Država: {{museum?.country}}</p>
                    <p class="card-text">Grad: {{museum?.city}}</p>
                    <p class="card-text">Adresa: {{museum?.address}}</p>
                    <p class="card-text">Tip: {{museum?.type}}</p>
                </div>
                <a routerLink="/{{museum?.museumID}}" class="btn btn-primary">Provjeri</a>
            </div>
        </div>
    </div>
</div>