<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-6 thumbnail-wrapper">
            <img class="img-fluid rounded-start" src="https://cdn.britannica.com/51/194651-050-747F0C18/Interior-National-Gallery-of-Art-Washington-DC.jpg">
        </div>
   
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Muzej</h5>
                <div class="museum-list-card-info">
                    <p class="card-text">Naziv: {{museum?.name}}</p>
                    <p class="card-text">Država: {{museum?.country}}</p>
                    <p class="card-text">Grad: {{museum?.city}}</p>
                    <p class="card-text">Adresa: {{museum?.address}}</p>
                    <p class="card-text">Tip: {{museum?.type}}</p>
                </div>
                <a href="#" class="btn btn-primary">Provjeri</a>
            </div>
        </div>
    </div>
</div>