<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/museums" routerLinkActive="active-route">Muzeji</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/news" routerLinkActive="active-route">Vijesti iz kulture</a>
                </li>
                <li class="nav-item">
                    <a href="#">Karte</a>
                </li>
                <li *ngIf="adminMenu" class="nav-item">
                    <a [href]="'/admin/login?token=' + adminPanelToken">Administratorski panel</a>
                </li>
                <!--<li *ngIf="adminMenu" class="nav-item">
                    <form method="post" action="/admin/login">
                        <input type="hidden" [value]="adminPanelToken" name="token"/>
                        <button type="submit" id="admin-panel-button">Admin panel</button>
                    </form>
                </li>-->
            </ul>
            <button class="btn btn-danger float-right" (click)="logout()">Odjava</button>
        </div>
    </div>
</nav>

<div class="container-fluid vh-100">
    <div class="row g-2" id="main-page-content">
        <router-outlet></router-outlet>
    </div>
</div>

<!--
<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-md-2" id="sidenav">
            <a routerLink="/museums" routerLinkActive="active-route">Muzeji</a>
            <a href="#">Vijesti iz kulture</a>
        </div>
    
        <div class="col-md-10" id="main-page-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
-->