nav a,button{
    text-decoration: none;
    color: var(--sidenav-link-color);
    text-align: center;
    font-weight: bold;
    display: block;

    border-bottom: 2px solid var(--sidenav-link-color);

    padding: 15px;
}

nav a:hover{
    color: var(--sidenav-background-color);
    background-color: var(--sidenav-link-color);
}
