<div class="card text-white bg-secondary mb-3">
    <div class="card-header">{{weather.name}}</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-auto">
                <img [src]="'http://openweathermap.org/img/wn/' + weather.weather[0].icon + '@4x.png'">
            </div>
            <div class="col-md-auto">
                <h4>{{weather.weather[0].description}}</h4>
                <div id="temp_info_wrapper">
                    <h5 class="card-text">{{weather.main.temp}} &#8451;</h5>
                    <p class="card-text">Osjeća se kao: {{weather.main.feels_like}} &#8451;</p>
                    <p class="card-text">Minimalna: {{weather.main.temp_min}}</p>
                    <p class="card-text">Maksimalna: {{weather.main.temp_max}}</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-auto">
                <p class="card-text">Vjetar: {{weather.wind.speed}} m/s</p>
            </div>
            <div class="col-md-auto">
                <p class="card-text">Vlažnost: {{weather.main.humidity}}%</p>
            </div>
            <div class="col-md-auto">
                <p class="card-text">Pritisak: {{weather.main.pressure}}</p>
            </div>
        </div>
    </div>
</div>
