<div class="vh-100">
    <div class="row">
        <form class="row g-2" [formGroup]="filterForm" (submit)="submitFilters()">
            <div class="offset-md-3 col-md-3">
                <label for="name" class="form-label">Naziv muzeja</label>
                <input formControlName="name" type="text" class="form-control" id="name" placeholder="Unesite naziv muzeja">
            </div>
            <div class="col-md-3">
                <label for="city" class="form-label">Grad</label>
                <input formControlName="city" type="text" class="form-control" id="city" placeholder="Unesite ime grada">
            </div>

            <div class="col-md-3">
                <label class="form-label">&nbsp;</label>
                <button type="submit" class="btn btn-primary" style="display: block">Filtriraj</button>
            </div>
        
        </form>
       
        <div class="row g-2">
            <app-museum-list-card *ngFor="let museum of museums"
            [museum]="museum">

            </app-museum-list-card>
        </div>
    </div>
</div>
